        <div 
          id="modal-tema" 
          class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-4"
          onclick="closeModal()"
        >
          <div 
            class="bg-[#F6F7F1] rounded-2xl shadow-xl p-8 max-w-2xl w-full"
            onclick="event.stopPropagation()"
          >
            <h2 class="text-4xl font-bold text-[#9A5CAD] text-center">
              O que é um Algoritmo?
            </h2>

            <div class="text-gray-700 text-lg mt-6 space-y-4">
              <p>
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </p>
              <p>
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>

            <a href="/src/quiz/index.html">
            <button 
              onclick="closeModal()"
              class="w-full bg-[#6A9850] text-white font-bold text-xl py-4 px-6 rounded-xl mt-8 
                    transition hover:bg-opacity-80 flex items-center justify-center gap-2"
            >
              Prosseguir👉
            </button>
            </a>
          </div>
        </div>